<section class="relative overflow-hidden">
  <article class="max-w-340 mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-gray-800 text-2xl md:text-5xl lg:text-6xl">
        Asper's
        <span
          class="bg-clip-text bg-linear-to-tl from-blue-600 to-violet-600 text-transparent"
          >Iba-Iba Store</span
        >
      </h1>
    </div>

    <div class="mt-2 md:mt-5 max-w-3xl text-center mx-auto">
      <p class="text-sm md:text-lg text-gray-600">
        The store where you will be suprised with the products. Bahala na kayo
        kung bibili kayo pake ko hmpp (˵¯͒〰¯͒˵)
      </p>
    </div>

    <div class="mt-4 flex justify-center gap-2 sm:gap-3">
      <a
        href="https://www.youtube.com/watch?v=HYNwe_WlRxE&list=RDHYNwe_WlRxE&start_radio=1"
        class="inline-flex justify-center items-center w-28 sm:w-36 text-center shadow-md sm:shadow-lg bg-linear-to-tl from-blue-600 to-violet-600 hover:from-violet-600 hover:to-blue-600 text-white text-xs sm:text-sm font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-violet-500 py-2.5 sm:py-3 px-3 sm:px-4 transition-all duration-200">
        Get started
      </a>
      <a
        id="open-about-us"
        href="#"
        class="inline-flex justify-center items-center w-28 sm:w-36 text-center shadow-md sm:shadow-lg border border-violet-600 text-violet-600 hover:bg-violet-600 hover:text-white text-xs sm:text-sm font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-violet-500 py-2.5 sm:py-3 px-3 sm:px-4 transition-all duration-200">
        About us
      </a>
    </div>
  </article>
</section>
